{{#each slides as |slide|}}
<!-- {{#each slide as |member|~}}
{{~#with member~}}
{{first_name}} {{last_name}} | {{/with~}}
{{~/each}} -->

<div class="carousel-item">
  <div class="card-deck justify-content-center mx-0">
    {{#each slide as |member|}}
    {{#with member}}
    {{> slide_card}}
    {{/with}}
    {{/each}}
  </div>
</div>
{{/each}}