<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>
    Division of Benthology and Floodplain Ecology | Institute of Hydrobiology
  </title>

  <link rel="icon" type="image/x-icon" href="public/image/Subject_Group_logo.png">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous" />
  <link rel="stylesheet" href="public/css/main.css" />
</head>

<body>
  <!-- Header -->
  <header>
    <div class="navbar navbar-expand-sm shadow my-5 bg-academic rounded-0">
      <div class="container">
        <a class="navbar-brand" href="http://www.ihb.ac.cn/">
          <img src="public/image/sss-logo.gif" alt="institute-logo" style="width: 100px;height:auto" />
        </a>
        <a class="navbar-brand" href="index.html">
          <img src="public/image/Subject_Group_logo.png" alt="subject-group-logo" style="width: 100px;height:auto"
            class="rounded-lg" />
        </a>
        <div class="row text-left m-2" style="border-left: 5px solid white">
          <h1 class="h1 text-white col-12 p-2">
            Division of Benthology and Floodplain Ecology
          </h1>
          <p class="h4 col-12 p-2 text-white font-italic font-weight-light">
            Institute of Hydrobiology, Chinese Academy of Sciences
          </p>
        </div>
      </div>
    </div>
  </header>

  <!-- Navbar and Main sections -->
  <div class="container p-0">
    <div class="row no-gutters">
      {{> nav}}

      <main class="col-sm-9 px-0">
        {{{body}}}

      </main>
    </div>
  </div>

  <!-- Footer section -->
  <footer>
    <div class="navbar navbar-expand-sm shadow my-5 bg-footer rounded-0 py-3 text-body">
      <div class="container">
        <div class="row">
          <div class="col-sm-3 pl-0">
            <a class="navbar-brand" href="http://www.ihb.ac.cn/">
              <img src="public/image/sss-logo.gif" alt="institute-logo" style="width: 100px;height:auto" />
            </a>
            <a class="navbar-brand" href="index.html">
              <img src="public/image/Subject_Group_logo.png" alt="subject-group-logo" style="width: 100px;height:auto"
                class="rounded-lg" />
            </a>
          </div>

          <div class="col-sm-3 pl-0">
            <p class="lead">Mailing Address:</p>
            <p>
              Institute of Hydrobiology, the Chinese Academy of Sciences,
              Wuhan, Hubei, 430072, China
            </p>
          </div>
          <div class="col-sm-3 pl-0">
            <p class="lead">Visiting Address:</p>
            <p>
              Donghu South Road 7#,<br />
              Wuhan, Hubei
            </p>
          </div>

          <div class="col-sm-3 pl-0">
            <p class="bg-footer lead">
              Contact Us:
            </p>
            <ul class="list-group list-group-flush">
              <li class="list-group-item bg-footer py-2 px-0">
                Tel: +86 027-68780064
              </li>
              <li class="list-group-item bg-footer py-2 px-0">
                Fax: +86 027-68780719
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="/public/js/script.js"></script>
</body>

</html>