{{#each all_publi as |publi author|}}
<section id="{{author}}" class="jumbotron shadow bg-light">
  <h2>Publications of {{addSpace author}}</h2>
  <ol>
    {{#each publi as |citation|}}
    <li>{{citation}}</li>
    {{/each}}
  </ol>
</section>
{{/each}}