<section id="major-research-areas" class="jumbotron shadow sec-bg-gradient">
  <div class="d-flex justify-content-between align-items-center">
    <h2 class="h2">Research Areas</h2>
  </div>
  <ul>
    <li>
      <p>
        Systematics and biogeography of invertebrates, including
        free-living Nematoda, aquatic and terrestrial microdrile
        Oligochaeta (Annelida) and freshwater Mollusca.
      </p>
    </li>
    <li>
      <p>
        Ecology of macrofauna and meiofauna: community ecology,
        food-web, biomonitoring, environmental requirements of
        ecosystem health.
      </p>
    </li>
    <li>
      <p>
        River-floodplain ecology: evaluate effects of water projects
        on rivers and floodplains, assess environmental flow
        requirements, and provide integrated strategy for restoration
        and protection of river systems.
      </p>
    </li>
    <li>
      <p>
        Predictive limnology and regional limnology: quantitatively
        reveal macroecological rules of river and lakes, and establish
        regional expert systems of ecosystem managements.
      </p>
    </li>
  </ul>
</section>

<hr />

<section id="recent-achievement-brief" class="jumbotron shadow sec-bg-gradient">
  <div class="d-flex justify-content-between align-items-center">
    <h2 class="h2">Recent Achievements</h2>
    {{!-- <a name="recent-achievements-brief" id="recent-achievements-brief" class="btn btn-secondary" href="#"
      role="button">Click here for more details</a> --}}
  </div>
  <ul>
    <li>
      <p>
        Described over 40 new species of Oligochaeta, and one new
        genus of freshwater Nemertea; revised one genus of marine
        oligochaetes, Doliodrilus.
      </p>
    </li>
    <li>
      <p>
        Studied pattern detection and ecotoxicological responses of
        aquatic oligochaetes by the method of Artificial Neural
        Network.
      </p>
    </li>
    <li>
      <p>
        Analyzed food composition of benthic animals in Yangtze lakes,
        and compiled a series of food webs, i.e. connective web,
        ingestion web, dietary overlap web, energy flow web.
      </p>
    </li>
    <li>
      <p>
        Established key-time models of submersed macrophytes,
        abundance models of periphytic gastropods, and
        optimal-stocking models of Chinese mitten crab in Yangtze
        lakes, through predictive limnological approach
      </p>
    </li>
    <li>
      <p>
        Revealed ecological effects of river-lake isolation, and
        devised a preliminary strategy to restore Yangtze
        river-floodplain ecosystem in a holistic way.
      </p>
    </li>
  </ul>
</section>

<hr />

<section id="current-project" class="jumbotron shadow sec-bg-gradient">
  <div class="d-flex justify-content-between align-items-center">
    <h2 class="h2">Current Projects</h2>
    {{!-- <a name="current-project-details" id="current-project-details" class="btn btn-secondary" href="#"
      role="button">Click here for more details</a> --}}
  </div>
  <ul>
    <li>
      <p>Oligochaeta of west China and South China Sea</p>
    </li>

    <li>
      <p>
        Predictive models for zoobenthic resource in the Yangtze
        lakes: establishment and validation
      </p>
    </li>

    <li>
      <p>
        Eutrophication mechanisms of shallow lakes: a comparative
        limnological study.
      </p>
    </li>

    <li>
      <p>
        Yangtze potamo-lacustrine complex ecosystem: fragmentation and
        restoration
      </p>
    </li>

    <li>
      <p>
        Thresholds of water and sand conditions for ecosystem health
        in the Yangtze River
      </p>
    </li>

    <li>
      <p>Oligochaeta (Annelida) of deep lakes of Yunnan Province</p>
    </li>

    <li>
      <p>
        Threshold of nutrient loading in regime shifts of lake
        ecosystems
      </p>
    </li>

    <li>
      <p>
        Surveys on biological resources of lakes on the Yunnan-Guizhou
        Plateau
      </p>
    </li>

    <li>
      <p>
        Effects of reservoirs on downstream aquatic ecosystems in the
        channel of the Yellow River
      </p>
    </li>

    <li>
      <p>Survey on macroinvertebrates in Tibet</p>
    </li>

    <li>
      <p>
        Response behaviors of oligochaetes after the treatments of
        toxic substances at low concentrations
      </p>
    </li>
  </ul>
</section>